* {
	margin: 0px;
}

body {
	background-image: url("/mucha/blocks.png");
	width: 320px;
}

button {
	height: 50px;
	width: 100px;
	border-radius: 10px;
	color: white;
	background-color: #333;
	font: -webkit-control;
	cursor: pointer;
}
button.center {
	position: absolute;
	left: 90px;
	top: 300px;
}
button.right {
	position: absolute;
	left: 170px;
	top: 300px;
}
button.left {
	position: absolute;
	left: 10px;
	top: 300px;
}

a {
	text-decoration: none;
	color: white;
}

#enchant-stage {
	z-index: 1;
}

/* 大きなメッセージウィンドウ */
.large_window {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
	width: 320px;
	height: 480px;
	color: white;
	font: 20px sans-serif;
	background-image: url("/mucha/large_window.png");
	background-repeat: no-repeat;
	background-position: center;
}
.large_window .title {
	position: absolute;
	top: 30px;
	left: 23px;
	width: 275px;
	height: 65px;
	overflow: auto;
	text-align: center;
	font: 25px sans-serif;
}
.large_window .contents {
	position: absolute;
	left: 20px;
	top: 100px;
	width: 280px;
	height: 360px;
	overflow: auto;
}

/* 小さなメッセージウィンドウ */
.small_window {
	position: absolute;
	left: 0px;
	top: 320px;
	z-index: 0;
	color: white;
	background-image: url("/mucha/small_window.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 320px;
	height: 146px;
}
.small_window .contents {
	font-family: sans-serif;
	font-size: 20px;
	position: absolute;
	left: 25px;
	top: 20px;
}

/* はい、いいえ */
#yes,#no {
	color: white;
	font-size: 30px;
	font-family: sans-serif;
	z-index: 0;
	cursor: pointer;
}
#yes {
	position: absolute;
	left: 50px;
	top: 410px;
}
#no {
	position: absolute;
	left: 190px;
	top: 410px;
}

/* タスク詳細表示 */
#task_key {
	position: absolute;
	top: 0px;
}
#task_created_on {
	position: absolute;
	top: 0px;
	left: 120px;
}
#task_component {
	position: absolute;
	top: 30px;
	overflow: auto;
}
#task_status {
	position: absolute;
	top: 70px;
}
#task_assigner {
	position: absolute;
	top: 70px;
	left: 100px;
}
#task_description {
	position: absolute;
	top: 110px;
	height: 180px;
	overflow: auto;
	font: "15px serif";
	word-break: break-all;
}

/* 検索条件 */
#set_condition div {
	position: absolute;
}
.issue_type {
	left: 0px;
	top: 200px;
}
.component {
	left: 0px;
	top: 0px;
}
.status {
	left: 0px;
	top: 100px;
}
.assigner {
	left: 150px;
	top: 100px;
}