* {
	margin: 0px;
}

body {
	background-image: url("/mucha/blocks.png");
}

#login {
	padding: 10px;
	width: 220px;
	background-color: #eee;
	border-style: solid;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 25px;
	top: 50px;
	border-radius: 5px;
	display: none;
}
