* {
	margin: 0px;
}

body {
	background-image: url("/mucha/blocks.png");
	width: 320px;
	height: 480px;
}

#enchant-stage {
	z-index: 1;
}

#login {
	position: absolute;
	left: 35px;
	top: 110px;
	font: 20px sans-serif;
	color: white;
	width: 220px;
	z-index: 0;
}
